<%- include ('partials/header.ejs') %>

<h1 style="color: green;">Question added to data-base successfully!</h1>
<form action="/home" method="post">
    <button type="submit"  class="btn btn-primary"> back to home page</button>
</form>


<%- include ('partials/footer.ejs') %>